<h3>hike detail page</h3>


<h3>Location: {{model.location}}</h3>

<h3>Description: {{model.description}}</h3>

New Feedback:
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    {{input id="name" class="form-control" value=name}}
    <label for="text">Comment:</label>
    {{input id="text" class="form-control" value=text}}
    <br>

    <label for="rating">  Rating: {{rating}}</label>

     <!-- {{view Ember.Select content=ratingoptions}} -->




{{view Ember.Select
    content=selectContentType
    optionValuePath="content.value"
    optionLabelPath="content.label"
    selectionBinding=selectedContentType}}



      <button class="btn btn-primary" {{action 'newcomment'}}>Post Feedback!</button>



    </div>

</form>



<ul>
  {{#each comment in model.comment}}
    <li>{{comment.rating}}<br>{{comment.name}}:  {{comment.text}}<br></li>
  {{/each}}
</ul>
